* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slider-movies {
    width: 100%;
}

#slider-movies .sub-slider{
    position: relative;
    z-index: 0;
}

#image-slider {
    padding-top: 41.92%;
    background: url("https://lumiere-a.akamaihd.net/v1/images/au_homepage_marvel_eternals_payoff_hero_r_63dc57c5.jpeg?region=0,0,2400,1002&width=960") top center / cover no-repeat;
}

.sub-slider #text-content-movies {
    position: absolute;
    top: 50%;
    width: 50%;
    text-align: center;
    line-height: 100%;
    transform: translateY(-50%);
    left: 4%;
}

.sub-slider #enternal-main {
    width: 73%;
    margin: 0 auto;
}

.sub-slider #text-content-movies-first {
    padding-top: 29%;
    background-image: url("/images/enternal.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.sub-slider .text-content-mid {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 500;
}

.sub-slider .text-final {
    width: 240px;
    height: 48px;
    border-style: none;
    border-radius: 50px;
    background-color: #fff;
}

.sub-slider .text-final > p {
    padding: 13px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

#content-movies {
    display: block;
}

#first-content-movies-main {
    width: 100%;
}

#first-content {
    margin-top: 24px;
    margin-bottom: 24px;
}

#left-img-first-content,
#right-img-first-content {
    position: relative;
    float: left;
    width: 50%;
    z-index: 1;
}

#first-content #left-img-first-content img,
#first-content #right-img-first-content img {
    max-width: 100%;
    height: auto;
}

#first-content .text-img-first-content  {
    position: absolute;
    bottom: 20px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#first-content .text-header-img-first-content {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 18px;
}

#first-content .text-second-img-first-content {
    padding-bottom: 28px;
}

#first-content .first-content-but {
    width: 240px;
    height: 48px;
    border-radius: 50px;
    border-style: none;
    background-color: #0077DA;
    color: #fff;
}

#first-content .first-content-but .text-but {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 750;
}

#last-content {
    float:left;
    margin-top: 24px;
    background-color: #eee;
}

#all-upcoming {
    float: left;
    width: 100%;
}

#upcoming-movies #text-upcoming {
    margin-top: 47px;
    width: 100%;
    text-align: center;
}

#text-upcoming #text-header-upcoming {
    font-weight: 500;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#text-upcoming #text-before-upcoming {
    padding: 20px 0;
    font-size: 17.5px;
    opacity: 0.7;
}

#upcoming-movies #img-upcoming {
    margin-left: 5%;
    margin-right: 5%;
}

.grid-img-upcoming {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.grid-img-upcoming .img-div .item-img-upcoming {
    width: 100%;
    border-radius: 5px;
}

#all-latest-trailer {
    /* float: left;
    width: 100%; */
}
 #all-latest-trailer #latest-trailer {
     width: 100%;
     float: left;
 }

 #video-trailer {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
 }









